#Anomaly Detector configuration
#Thu Oct 29 12:39:59 EDT 2015
threshold=0.95
es_host = https://opsdash.deflect.ca
es_port = 9200
es_user = edge
es_password = spinbolnorv7
input_file=./data/http_response_ratio.csv
output_file=./anomaly_log.csv
mail_alert1=mazhurin@gmail.com
target_host1=bdsmovement.net
target_host2=btselem.net